.outer_container {
  margin: 15px;
  padding: 15px;
  /* height: 90vh; */
  width: 80vw;
}
.heading_bar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-size: 1.5rem;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}
.emails {
  width: 70%;
  height: 100%;
  padding-left: 20px;
}
.actions {
  padding-left: 20px;
  width: 30%;
  height: 100%;
}
.content_area {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.content_area ul li {
  list-style: none;
  font-size: 18px;
  height: 30px;
  border-bottom: 1px solid rgb(202, 202, 202);
  line-height: 30px;
}
.emailsarea {
  padding-left: 20px;
  width: 70%;
  height: 100%;
}
.actionsarea {
  padding-left: 20px;
  width: 30%;
  height: 100%;
}
